---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GaleriaComponent from '../components/Galeria.astro';
---

<Layout 
  title="Galería de Trabajos Realizados | Formatos Intergráficos"
  description="Explora nuestra galería de trabajos. Formatos continuos, tickets de balanza, boletas, comandas y comprobantes autorizados SUNAT para diversos rubros en Lima."
>
  <Header />
  <main>
    <GaleriaComponent />
  </main>
  <Footer />
</Layout>
