---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Beneficios from '../components/Beneficios.astro';
import Servicios from '../components/Servicios.astro';
import Testimonios from '../components/Testimonios.astro';
import FAQ from '../components/FAQ.astro';
import FormularioCotizacion from '../components/FormularioCotizacion.astro';
import Footer from '../components/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout 
  title="Formatos Intergraficos Autorizados SUNAT - Impresión Profesional de Boletas, Proformas y Vouchers"
  description="Impresión profesional de papel continuo, proformas y vouchers autorizados SUNAT para tu negocio. Entrega rápida, formatos legales y precios por volumen. Servicio en todo Perú."
>
  <Header />
  <main>
     <Hero /> 
    <Beneficios />
    <Servicios />
    <Testimonios /> 
    <FAQ />
    <FormularioCotizacion />
  </main>
  <Footer />
</Layout>
